@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #41a85f;
}
#ext_menu-3 .mbr-navbar__section {
  background: #41a85f;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #7ac673;
}
#ext_menu-3 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
}
